# APP CONFIG
PORT=3000

# DATABASE
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# RAZORPAY (Example - managed in DB now but can be pre-filled via env)
# RAZORPAY_KEY_ID=
# RAZORPAY_KEY_SECRET=
